.App {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.open-modal {
  width: 255px;
  height: 59px;
  border-radius: 4px;
  background-color: #06243C;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.close-modal {
  border: none;
  background-color: white;
  color: #C3C8CC;
  width: 12px;
  height: 12px;
  float: right;
}

.modal-title {
  font-family: Sorts Mill Goudy;
  text-align: center;
  font-size: 37px;
  font-weight: 400;
  line-height: 40.7px;
}

.next-button {
  width: 255px;
  height: 59px;
  border-radius: 4px;
  background-color: #06243C;
  color: white;
  font-size: 20px;
  font-weight: 700;
}

.modal-dots {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
}

p {
  font-size: 18px;
}

img {
  height: 175px;
}





